
{% extends 'base.html' %}

{% load static %}

{% block content %}


    {% if user.is_authenticated %}

    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">USUARIO</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
              Inicio
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              Mis habitos
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              Estadisticas
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Comunidad
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Configuración
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              Cerrar sesión
            </a>
          </li>
        </ul>
        <hr>
      </div>
      {% else %}
      
      {% endif %}

      <div class="container-fluid top">

          <div class="container-fluid left">
              <h1>
                  Habbit Trabbit tu aplicación de confianza
              </h1>
                
                <img src="{% static 'dashboard.jpg' %}" alt="" id="main-image">
            </div>
            
            <div class="container-fluid right">
                <h1>    
                    Bienvenido a Habit Trabbit
                </h1>
                <a href="/login" class="btn btn-primary bienvenida">Iniciar sesión</a>
                
                <a href="/registro" class="btn btn-primary bienvenida">Registrarse</a>
                
            </div>
        </div>
      
      <style>
        .right{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .left{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .top{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        } 

        .bienvenida{
            width: 50%;
            margin-top: 0.5rem;
        }


        #main-image {
            width: 95%;
        }
      </style>

      {% endblock content %}