
{% extends 'base.html' %}

{% load static %}

{% block content %}


    {% if user.is_authenticated %}

    {% include sidebar.html %}

    {% else %}
      
      
      <h1 class="text-center mb-4">
        Habbit Trabbit, tu aplicación de confianza
    </h1>
      <div class="container-fluid top">
        
          <div class="container-fluid left">
              
                
                <img src="{% static 'dashboard.jpg' %}" alt="" id="main-image">
            </div>
            
            <div class="container-fluid right">
                <h1>    
                    Bienvenido a Habit Trabbit
                </h1>
                <a href="/login" class="btn btn-primary bienvenida">Iniciar sesión</a>
                
                <a href="/registro" class="btn btn-primary bienvenida">Registrarse</a>
                
            </div>
        </div>
      </div>
      {% endif %}
      <style>
        .right{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .left{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .top{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        } 

        .bienvenida{
            width: 50%;
            margin-top: 0.5rem;
        }


        #main-image {
            width: 95%;
        }
      </style>

      {% endblock content %}