{% extends 'base.html' %}

{% block content %}
    
  <div class="container-fluid register-container">
    <div class="register-box">
      <h2 class="text-center mb-4">Registro</h2>
      <form>
        <!-- Campo de nombre completo -->
        <div class="mb-3">
          <label for="name" class="form-label">Nombre Completo</label>
          <input type="text" class="form-control" id="name" placeholder="Tu nombre" required>
        </div>

        <!-- Campo de correo electrónico -->
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" required>
        </div>

        <!-- Campo de contraseña -->
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
        </div>

        <!-- Campo de confirmar contraseña -->
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmar contraseña" required>
        </div>

        <!-- Checkbox para aceptar términos y condiciones -->
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="terms" required>
          <label class="form-check-label" for="terms">Acepto los <a href="#">términos y condiciones</a></label>
        </div>

        <!-- Botón de enviar -->
        <button type="submit" class="btn btn-primary w-100">Registrarse</button>
      </form>
    </div>
  </div>

  <style>
    .register-container {
        height: 100vh; /* Ocupa toda la altura de la pantalla */
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        background-color: #1B2D39; /* Color de fondo personalizado */
        padding-top: 70px; /* Añadir espacio para que el formulario no se superponga con la barra */
    }

    .register-box {
        width: 100%;
        max-width: 400px; /* Limita el ancho máximo del formulario */
        padding: 20px;
        border-radius: 10px; /* Bordes redondeados */
        background-color: #fff; /* Fondo blanco del cuadro de registro */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra alrededor del cuadro */
    }

        /* Cambiar el color del texto en el cuadro de registro */
    .register-box h2,
    .register-box p {
        color: #333; /* Color del texto dentro del cuadro */
    }
  </style>

{% endblock content %}
