{%extends 'base.html' %}
{% block content %}
    <form action="post">
        {% csrf_token %}
        <!-- """{{form.as_p}}""" -->
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{form.password1.label_tag}}
            {{form.password1}}
            {{form.password2.label_tag}}
            {{form.password2}}

        </div>

        <button type="submit" class="btn btn-primary">Registrarse</button>
        <a href="/login" class="btn btn-primary">¿Ya tienes cuenta?</a>
        
    </form>
{% endblock content %}